<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>All Movies</title>

   <link rel="stylesheet" type="text/css" href="common.css" />
</head>
<body>
   <h1 th:text="${title}"></h1>
   <ul>
      <li th:each="movie : ${movies}" th:text="${movie}"></li>
   </ul>

   <p>
      Return to Homepage: 
      <a href='/'>Link to Homepage</a>
  </p>
</body>
</html>