<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid-19 Database Website</title>
    
    <link rel="stylesheet" href="assets/css/flags.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:500,500i,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200i,300,300i,400,400i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

</head>

<body style="background-color: #F7F8FC;">
    <header style="padding: 20px 0px;background-color: white;">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-md-4">
                    <div class="row justify-content-left align-items-center no-gutters" style="text-align: center;">
                        <a href="/">
                            <div class="col-sm-4">
                                <!-- Start: Navbar Logo --><img id="logo" src="assets/img/Logo.webp" width=96>
                                <!-- End: Navbar Logo -->
                            </div>
                            <div class="col-sm-5">
                                <h1 style="font-family: 'Fira Sans', sans-serif;font-style: italic;font-size:48px;color:#333;">COVIDDB</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-7" style="font-family: Nunito, sans-serif;">
                    <ul class="nav nav-tabs justify-content-center" style="text-align:center;">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="/overview">Overview</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Nav Item</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Nav Item</a></li>
                        <li class="nav-item"><a class="nav-link" href="/map">World Map</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </header>
    <!-- Start: Content -->
    <section style="margin-top: 24px;">
        <div class="container">
            <div class="row"> <!-- Stat Boxes, Country stats, and Map-->
                <!-- Start: Left-Hand Panel Wrapper -->
                <div class="col-xl-6">
                    <!-- Start: Stat Cards -->
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- Start: Card Set -->
                            <div class="row no-gutters">
                                <!-- Start: Card Wrapper -->
                                <div class="col-xl-6">
                                    <!-- Start: Statistic Card -->
                                    <div class="stat-card">
                                        <div class="row">
                                            <!-- Start: Card Icon Side -->
                                            <div class="col-4"><img src="assets/img/Logo.min.webp" width=57></div>
                                            <!-- End: Card Icon Side -->
                                            <!-- Start: Card Info Side -->
                                            <div class="col-8">
                                                <h6 style="font-family: Nunito, sans-serif;font-size: 12px;">Coronavirus Cases</h6>
                                                <h5 style="font-family: 'Fira Sans', sans-serif;font-weight: 600;font-style: normal;font-size: 26px;"  th:text="${wwCumCases}"></h5>
                                            </div>
                                            <!-- End: Card Info Side -->
                                        </div>
                                    </div>
                                    <!-- End: Statistic Card -->
                                </div>
                                <!-- End: Card Wrapper -->
                                <!-- Start: Card Wrapper -->
                                <div class="col-xl-6">
                                    <!-- Start: Statistic Card -->
                                    <div class="stat-card">
                                        <div class="row">
                                            <!-- Start: Card Icon Side -->
                                            <div class="col-4"><img src="assets/img/Logo Green.min.webp" width=57></div>
                                            <!-- End: Card Icon Side -->
                                            <!-- Start: Card Info Side -->
                                            <div class="col-8">
                                                <h6 style="font-family: Nunito, sans-serif;font-size: 12px;">Total Recovered</h6>
                                                <h5 style="font-family: 'Fira Sans', sans-serif;font-weight: 600;font-style: normal;font-size: 26px;" >......</h5>
                                            </div>
                                            <!-- End: Card Info Side -->
                                        </div>
                                    </div>
                                    <!-- End: Statistic Card -->
                                </div>
                                <!-- End: Card Wrapper -->
                                <!-- Start: Card Wrapper -->
                                <div class="col-xl-6">
                                    <!-- Start: Statistic Card -->
                                    <div class="stat-card">
                                        <div class="row">
                                            <!-- Start: Card Icon Side -->
                                            <div class="col-4"><img src="assets/img/Logo Black.min.webp" width=57></div>
                                            <!-- End: Card Icon Side -->
                                            <!-- Start: Card Info Side -->
                                            <div class="col-8">
                                                <h6 style="font-family: Nunito, sans-serif;font-size: 12px;">Total Deaths</h6>
                                                <h5 style="font-family: 'Fira Sans', sans-serif;font-weight: 600;font-style: normal;font-size: 26px;" th:text="${wwCumDeaths}"></h5>
                                            </div>
                                            <!-- End: Card Info Side -->
                                        </div>
                                    </div>
                                    <!-- End: Statistic Card -->
                                </div>
                                <!-- End: Card Wrapper -->
                                <!-- Start: Card Wrapper -->
                                <div class="col-xl-6">
                                    <!-- Start: Statistic Card -->
                                    <div class="stat-card">
                                        <div class="row">
                                            <!-- Start: Card Icon Side -->
                                            <div class="col-4"><img src="assets/img/Logo.min.webp" width=57></div>
                                            <!-- End: Card Icon Side -->
                                            <!-- Start: Card Info Side -->
                                            <div class="col-8">
                                                <h6 style="font-family: Nunito, sans-serif;font-size: 12px;">Active Cases</h6>
                                                <h5 style="font-family: 'Fira Sans', sans-serif;font-weight: 600;font-style: normal;font-size: 26px;">....</h5>
                                            </div>
                                            <!-- End: Card Info Side -->
                                        </div>
                                    </div>
                                    <!-- End: Statistic Card -->
                                </div>
                                <!-- End: Card Wrapper -->
                            </div>
                            <!-- End: Card Set -->
                        </div>
                    </div>
                    <!-- End: Stat Cards -->
                    <!-- Start: Country Stats -->
                    <div class="row no-gutters" style="margin: 0px -8px 16px -16px;">
                        <div class="col">
                            <div class="card" style="padding:16px;">
                                <div class="card-body">
                                    <!-- Start: Top Half -->
                                    <div class="row vertical-align">
                                        <div class="col-lg-7">
                                            <h4 style="font-family: 'Fira Sans', sans-serif;font-weight: 500;">Coronavirus (COVID-19)</h4>
                                            <h4 style="font-family: Nunito, sans-serif;font-weight: 200;font-size: 12px;font-style: italic;">Updated <span  th:text="${LastDate}"></span></h4>
                                        </div>
                                        <div class="col-lg-5" style="text-align:right;">
                                            <form id="country_selection" action="/overview" method="POST">
                                                <div id="demo"
                                                    data-input-name="country"
                                                    th:data-selected-country="${country}"
                                                    data-button-size="btn-lg"
                                                    data-button-type="btn-warning"
                                                    data-scrollable="true"
                                                    data-scrollable-height="250px"
                                                    name="country">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- End: Top Half -->
                                    <!-- Start: Divider Line -->
                                    <div style="border-bottom: 1px rgba(0,0,0,.125) solid;text-align:center;"></div>
                                    <!-- End: Divider Line -->
                                    <!-- Start: Bottom Half -->
                                    <div class="row">
                                        <!-- Start: Title & Number -->
                                        <div class="col-sm-6">
                                            <h6 style="margin: 10px 0px 5px;font-family: Nunito, sans-serif;">Confirmed</h6>
                                            <h3 style="margin: 0px 0px;font-family: 'Fira Sans', sans-serif;"><strong><span th:text="${cumCases}"></span></strong><br></h3>
                                            <h6 style="margin: 0px 0px;font-family: 'Fira Sans', sans-serif;font-style: italic;">+ <span th:text="${NewCases}"></span></h6>
                                        </div>
                                        <!-- End: Title & Number -->
                                        <!-- Start: Title & Number -->
                                        <div class="col-sm-6">
                                            <h6 style="margin: 10px 0px 5px;font-family: Nunito, sans-serif;color: #F87D7D;">Deaths</h6>
                                            <h3 style="margin: 0px 0px;font-family: 'Fira Sans', sans-serif;"><strong th:text="${cumDeaths}"></strong><br></h3>
                                            <h6 style="margin: 0px 0px;font-family: 'Fira Sans', sans-serif;font-style: italic;">+ <span th:text="${NewDeaths}"></span></h6>
                                        </div>
                                        <!-- End: Title & Number -->
                                        </div>
                                    <!-- End: Bottom Half -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Country Stats -->
                </div>
                <!-- End: Left-Hand Panel Wrapper -->
                <!-- Start: Right Hand Panel Wrapper -->
                <div class="col-xl-6">
                    <!-- Start: Card Sets Wrapper -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">

                                <div id="chartdiv" style="width: 100%;height: 365px;background-color: white;border-radius: 2rem;"></div>
                               
                            </div>
                        </div>
                    </div>
                    <!-- End: Card Sets Wrapper -->
                </div>
                <!-- End: Right Hand Panel Wrapper -->
            </div>
        
            <div class="row no-gutters" style="margin-top:24px; overflow-x:auto;"> <!-- Table -->
                <div class="col">
                    
                    <table id="country-table" class="table sortable">
                        <thead style="font-family: 'Fira Sans', sans-serif;">
                            <tr>
                            <th scope="col" data-defaultsort="asc">Country</th>
                            <th scope="col">Total Cases</th>
                            <th scope="col">New Cases</th>
                            <th scope="col">Total Deaths</th>
                            <th scope="col">New Deaths</th>
                            <th scope="col">Deaths %</th>
                            <th scope="col">Population</th>
                            <th scope="col">Population Infected %</th>
                            </tr>
                        </thead>
                        <tbody style="font-family: Nunito, sans-serif;">
                            <tr th:each="table_val : ${table_vals}">
                                <td scope="row"><i th:class="${'flagstrap-icon flagstrap-' + table_val[0].toLowerCase()}"></i><span th:text="${' ' + table_val[1]}"></span></td>
                                    <td th:text="${table_val[2]}"></td>
                                    <td th:text="${table_val[3]}"></td>
                                    <td th:text="${table_val[4]}"></td>
                                    <td th:text="${table_val[5]}"></td>
                                    <td th:text="${table_val[6]}"></td>
                                    <td th:text="${table_val[7]}"></td>
                                    <td th:text="${table_val[8]}"></td>
                            </tr>
                            
                        </tbody>
                        </table>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End: Content -->
    <!-- Start: Footer Basic -->
    <div class="footer-basic">
        <footer>
            <!-- Start: Social Icons -->
            <div class="social"><a href="https://www.instagram.com/rmituniversity/"><i class="icon ion-social-instagram"></i></a><a href="https://www.linkedin.com/school/rmit-university"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com/RMIT"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/RMITuniversity/"><i class="icon ion-social-facebook"></i></a></div>
            <!-- End: Social Icons -->
            <!-- Start: Links -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/overview">Overview</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="/map">World Map</a></li>
            </ul>
            <!-- End: Links -->
            <p class="copyright">Made with &#10084;&#65039; by Deakin Carr & Max Cantwell</p>
            <!-- Start: Copyright -->
        </footer>
    </div>
    <!-- End: Footer Basic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>


</body>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.flagstrap.js"></script>
<script>
    $('#demo').flagStrap(
    {
        onSelect: function (value, element) {
            document.getElementById("country_selection").submit()
        }
        
    });
</script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>

<script src="assets/js/maps/amchartsexample.js"></script>
<script th:inline="javascript">
    // import data
 polygonSeries.data = [[${heatMap}]];
 // excludes Antarctica
 polygonSeries.exclude = ["AQ"];
</script>


<script src="assets/js/bootstrap-sortable.js"></script>
<script src="assets/js/moment.min.js"></script>
<link href="assets/css/bootstrap-sortable.css" rel="stylesheet">

</html>